@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
font-family: 'Noto Sans JP', sans-serif;
}

.logo {
font-size: 50px;
text-align: center;
}

.flex-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
    
#nav-links {
padding: 10px 10px 10px 10px;
text-align: center;



   
}
p {
    font-size: 100%;
    line-height: 200%;
    margin: 100px 150px 100px 150px;
    padding: 25px 25px 0px 25px; 
    
    
    
}
h1 {
    text-align: center;
    margin: 50px 150px 50px 150px;
    padding: 50px 25px 0px 25px;
}
#emailhead { 
margin-bottom: 0px;
padding-bottom: 0px;
}
#emailname {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}
#emailsubmit {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}


    